@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff2/MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.woff2/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#mainpage {
  display: none;
}

#intropage {
  margin-top: 15rem;
}
.answerbutton {
   padding: 0 1rem;
}

.imghead{
  height: 50px;
}

.flashcardtitle {
  font-size: 5em;
  vertical-align: middle;
}
.flashcardpanel {
      min-width: 80%;
}

.container1 {
  min-height: 100%;
  text-align: center;
}

.card-back {
  font-size: 1rem;
}

.countans {
  margin-left: 2em;
  font-size: 1em;
  padding: 0.3em;
  font-stretch: condensed;
  margin-bottom: 2em;
    vertical-align: middle;
  min-height: 3em;
  color: black;
}

.tag1 {
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}



.details {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  margin-bottom: 5px;
}

.promo {
    width: 100%
}

.promo:hover {
    cursor: pointer;
    width: 100%;
}
.promo i {
    margin: 40px 0;
    color: #ee6e73;
    font-size: 7rem;
    display: block;
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}
